.BuildControls {
  width: 90%;
  background-color: #cf8f2e;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px 1px black;
  border-radius: 20px;
  margin: 10px auto;
  padding: 5px;
}
.BuildControls p {
  color: red;
  font-weight: 700;
  font-size: 14px;
  text-shadow: 0 0 1px white;
}
.OrderButton {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #dad735;
  outline: none;
  cursor: pointer;
  margin: 10px 0 20px;
  border: 1px solid #966909;
  color: #966909;
  font-family: inherit;
  font-size: 1.5em;
  padding: 5px 10px;
  box-shadow: 2px 2px 2px #966909;
}

.OrderButton:not(:disabled):hover {
  background-color: #a0db41;
  border: 1px solid #966909;
  color: #966909;
  border-radius: 8px;
}

.OrderButton:disabled {
  background-color: #c7c6c6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
}
